<html>

  <head>
    <headerme>The definition template.</headerme>
    <script language='javascript'>
      async function callMe(target){
        var options = {method: 'POST',headers:{'Content-type':'application/json', Accept:'application/json'},body: JSON.stringify( { term:"{{term}}", relationship:target.name, related_term:target.value } ) };
        let response = await fetch( "/terms/update", options);
        let data = await response.json();
        
      }
    </script>
  </head>
  <body>
    <main class="medium">
      <span>Previous Term: {{previous_term}}</span>
      <span>Next Term: {{next_term}}</span>
      <span>or return to the <a href="/">Full List</a></span>
      <h1>{{term}}</h1>
      <p>{{definition}}</p>
      <h2>Forms as different parts of speech</h2>
      <ul>
        <li><em>Noun forms: </em>{{noun_forms}}</li>
        <li><em>Verb forms: </em>{{verb_forms}}</li>
        <li><em>Adjective forms: </em>{{adjective_forms}}</li>
      </ul>
      <h3>Usage examples for various forms</h3>
      <p>{{usage_examples}}</p>
      <h4>Notes</h4>
      <p>{{notes}}</p>
    </main>
    <footer class='medium'>
      <ul>
        <li>Previous Term: {{previous_term}}</li>
        <li>Next Term: {{next_term}}</li>
        <li>Closely Related Terms:
          <ol>
            <li>{{related_term_1}}</li>
            <li>{{related_term_2}}</li>
            <li>{{related_term_3}}</li>
          </ol>
        </li>
      </ul>
      <p>More general info on: {{term}}.</p>
      <ol>
        <li>On mirriam-webster.com - <a href='https://www.merriam-webster.com/dictionary/{{term}}'>{{term}}</a></li>
        <li>On wikipedia.com - <a href='https://en.wikipedia.org/wiki/{{term}}'>{{term}}</a></li>
      </ol>
    </footer>
  </body>

</html>
