<html>

  <headerme>The definition template.</headerme>

  <body>
    <main>
      <span>Previous Term: <a href="./{{previous_term}}">{{previous_term}}</a></span>
      <span>Next Term: <a href="./{{next_term}}">{{next_term}}</a></span>
      <span>or return to the <a href="/">Full List</a></span>
      <h1>{{term}}</h1>
      <p>{{definition}}</p>
      <h2>Forms as different parts of speech</h2>
      <ul>
        <li>{{noun_forms}}</li>
        <li>{{verb_forms}}</li>
        <li>{{adjective_forms}}</li>
      </ul>
      <h3>Usage examples for various forms</h3>
      <p>{{usage_examples}}</p>
      <h4>Notes</h4>
      <p>{{notes}}</p>
    </main>
    <footer>
      <ul>
        <li>Previous Term: <a href="./{{previous_term}}">{{previous_term}}</a></li>
        <li>Next Term: <a href="./{{next_term}}">{{next_term}}</a></li>
        <li>Closely Related Terms:
          <ol>
            <li><a href="./{{related_term_1}}">{{related_term_1}}</a></li>
            <li><a href="./{{related_term_2}}">{{related_term_2}}</a></li>
            <li><a href="./{{related_term_3}}">{{related_term_3}}</a></li>
          </ol>
        </li>
      </ul>
    </footer>
  </body>

</html>
