<html>

  <headerme>The definition template.</headerme>

  <body>
    <main>
      <h1>{{term}}</h1>
      <p>{{definition}}</p>
      <h2>Forms as different parts of speech</h2>
      <ul>
        <li>{{noun_forms}}</li>
        <li>{{verb_forms}}</li>
        <li>{{adjective_forms}}</li>
      </ul>
      <h3>Usage examples for various forms</h3>
      <p>{{usage_examples}}</p>
      <h4>Notes</h4>
      <p>{{notes}}</p>
    </main>
    <footer>
      <ul>
        <li>{{previous_term}}</li>
        <li>{{next_term}}</li>
        <li>{{related_term_1}}</li>
        <li>{{related term_2}}</li>
        <li>{{related term_3}}</li>
      </ul>
    </footer>
  </body>

</html>
